{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>EDIT PAGE</h1>
    <form action="{% url 'save_edit' %} " method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="enter title" value="{{ title }}">
        <br/>
        <label>Markdown Content:</label>
        <br/>
        <textarea id="ta1" name="content" >{{ content }}</textarea>
        <br/>
        <input type="submit" value="Edit" class="btn btn-primary" >
    </form>
{% endblock %}